
				<div class="paper-container" id="p210178048">
					<div class="paper-header">
						<h3>Relatório de observador</h3>
					</div>
					<p>
						<span class="blurred" style="animation-delay: 3s">

							<span style="animation-delay: 3s">&quot;Tadeu Donato is a promising player. If you think his key skills are interesting, I wouldn't advice against giving him a run in the team.&quot;</span>
						</span>
					</p>
					<div class="paper-content clearfix" style="padding-right: .5em">
						<div class="floatRight">
									<div id="player_210178048" class="player-image soccer">
			<div class="player_210178048" style="background-image: url('dynimg/player.php?shirt1=04049a&shirt2=000000&pattern_type=6&pants1=000000&pants2=04049a&socks1=000000&socks2=04049a&sp=soccer&item_hair=-1&item_hair_facial=-1&item_arm_left=-1&item_arm_right=-1&item_shoes=-1&item_gesture_goal=-1&skin_color=ac7446&hair_color=221711&hair_facial_color=221711&img.png')"></div>
		</div>
						</div>
						<dl>
							<dd class="">
								<div class="flex-nowrap textRight">
									<div class="flex-grow-0">
										<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
									</div>
									<div class="flex-grow-1">
										<ul>
											<li><strong>Highest potential</strong></li><li class="blurred"><span>Passe Curto</span></li><li class="blurred"><span>Desarme</span></li>										</ul>
										<span class="stars">
											<i class="fa fa-star fa-2x lit" style="animation-delay: 500ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x lit" style="animation-delay: 1000ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x lit" style="animation-delay: 1500ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x" style="animation-delay: 2000ms" aria-hidden="true"></i>
										</span>
									</div>
							</dd>
							<dd class="">
								<div class="flex-nowrap textRight">
									<div class="flex-grow-0">
										<i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
									</div>
									<div class="flex-grow-1">
										<ul>
											<li><strong>Lowest potential</strong></li><li class="blurred"><span>Bola Parada</span></li><li class="blurred"><span>Controle de Bola</span></li>										</ul>
										<span class="stars">
											<i class="fa fa-star fa-2x lit" style="animation-delay: 500ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x" style="animation-delay: 1000ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x" style="animation-delay: 1500ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x" style="animation-delay: 2000ms" aria-hidden="true"></i>
										</span>
									</div>
							</dd>
							<dd class=" skip-list">
								<div class="flex-nowrap textRight">
									<div class="flex-grow-0">
										<i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
									</div>
									<div class="flex-grow-1">
										<ul>
											<li><strong>Youth training speed</strong></li>
										</ul>
										<span class="stars">
											<i class="fa fa-star fa-2x lit" style="animation-delay: 500ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x lit" style="animation-delay: 1000ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x" style="animation-delay: 1500ms" aria-hidden="true"></i>
											<i class="fa fa-star fa-2x" style="animation-delay: 2000ms" aria-hidden="true"></i>
										</span>
									</div>
							</dd>
						</dl>
					</div>

					<div class="paper-footer">
						<a href="#" onclick="return false;" class="mzbtn buttondiv_disabled button_account" id="scout_report_reveal_next">
	<span class="buttonClassMiddle"><span style="white-space: nowrap">Reveal next</span></span><span class="buttonClassRight">&nbsp;</span>
</a> <a href="#" onclick="return false;" class="mzbtn buttondiv_disabled button_account" id="scout_report_reveal_all">
	<span class="buttonClassMiddle"><span style="white-space: nowrap">Reveal all</span></span><span class="buttonClassRight">&nbsp;</span>
</a>
					</div>

				</div>